@media only screen and  (max-width: 844px){
    .float-end{
      margin-right: 3pc;
      display: flex !important;
    }
    .pent{
      text-align: center;
    }
    .d-flex {
       display:  inline-block!important;
    }
    .nav-menu.active {
      top: 72px!important;
    }
    .card{
      margin-left: 23px;
      margin-bottom: 10px;
    }
    .nav-menu{
      top: -10000%! important;
    }
    .nav-brand{
      margin-right: 9px;
    }
    .nav-brand img {
      height: 43px;
    }
    .navbar-brand b{
      font-size: 25px;
    }
    .btn-dark{
      margin-left: 113px;
    }
  }
  @media only screen and  (max-width: 1138px){
    .float-end{
      margin-right: 3pc;
      display: flex !important;
    }
    .pent{
      text-align: center;
    }
    .d-flex {
       display:  inline-block!important;
    }
    .card {
      margin-left: 183px;
      margin-bottom: 10px;
  }
  .float-end{
    display: flex !important;;
  }
    .nav-menu{
      top: -1900%;
      width: 100%;
    }
    .nav-brand{
      margin-right: 9px;
    }
    .nav-brand img {
      height: 43px;
    }
    .navbar-brand b{
      font-size: 25px;
    }
    .btn-dark{
      margin-left: 113px;
    }
  }